name: Ejer1_Workflow

on:
  push:
    branches: main

jobs:
  probar:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar codigo
        uses: actions/checkout@v5
    
      - name: Instalar pytest
        run: pip install pytest

      - name: Ejecutar tests
        run: pytest test.py
